[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Micorservices-Fernando/client-microservice.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Micorservices-Fernando/products-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Micorservices-Fernando/orders-microservice.git
